<div>
    <div class='center-div'>
        <div data-dojo-attach-point="errMsg" class='alert alert-danger hidden'>Error message.</div>
        <div data-dojo-attach-point="magicZoomDiv"></div>
        <div data-dojo-attach-point='mapDiv' class='map-div'></div>
    </div>
    <div class='bottom-div'>
        <button class='btn btn-default' data-dojo-attach-point="clearBtn">Clear All Fields</button>
        <div data-dojo-attach-point="findAddressDiv"></div>
        <div data-dojo-attach-point="findRouteDiv"></div>
        <div data-dojo-attach-point="zoomCoordsDiv"></div>
    </div>
</div>