<div class="trssearch">
    <div class="form-group">
        <label>Meridian</label>
        <div class="radio">
            <label>
                <input type="radio" data-meridian="SL" data-dojo-attach-point="slNode" data-dojo-attach-event="click: _onMeridianChange" name='trsMeridian'> SL 
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" data-meridian="UB" data-dojo-attach-point="ubNode" data-dojo-attach-event="click: _onMeridianChange" name='trsMeridian'> UB 
            </label>
        </div>
    </div>
    <div class="form-group">
        <label >Township</label>
        <select data-dojo-attach-point="townshipNode" class="form-control" data-required="true"></select>
    </div>
    <br>
    <div class="form-group">
        <label >Range</label>
        <select data-dojo-attach-point="rangeNode" class="form-control" data-required="true"></select>
    </div>
    <div class="form-group">
        <label>Section (optional)</label>
        <select data-dojo-attach-point="sectionNode" class="form-control" data-required="${requireSection}"></select>
    </div>
    <button type="button" class="btn btn-default" data-dojo-attach-event="click: zoom" data-dojo-attach-point="zoomNode">Zoom</button>
    <input type="hidden" name="${formName}" data-dojo-attach-point="hiddenNode"/>
</div>