@import '../../agrc/resources/map/BaseMap.css';
@import '../../agrc/resources/locate/FindAddress.css';
@import '../../agrc/resources/locate/FindRouteMilepost.css';
@import 'ZoomToCoord.css';
@import '../../agrc/resources/locate/MagicZoom.css';
@import '../../layer-selector/resources/LayerSelector.css';
@import 'TRSsearch.css';
@import '../../dijit/themes/claro/claro.css';
@import '../../esri/css/esri.css';
@import 'Legend.css';

/* disable bootstrap responsive */
.form-inline .form-group {
    display: inline;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-inline .input-group > .form-control {
    width: 100%;
}

.form-inline .form-group select.form-control {
    padding: 0;
}

.form-control {
    padding-top: 0;
    padding-bottom: 0;
}
.find-address [data-dojo-attach-point='txtZone'],
.find-route-milepost [data-dojo-attach-point='milepostTxt'] {
    width: 110px;
}
.find-route-milepost .form-group label,
.find-address .form-group label {
    width: 70px;
}
.agrc-app {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: #FFFF99;
}
.agrc-app .center-div>.alert.alert-danger {
    position: absolute;
    width: 300px;
    z-index: 99;
    margin-left: -150px;
    left: 50%;
    top: 30%;
    opacity: 0.85;
    display: none;
}
.agrc-app .map-div {
    width: 100%;
    height: 100%;
}
.agrc-app .layer-selector {
    top: 15px;
    margin-right: 7px;
    box-shadow: none;
    border: 1px solid #57585A;
}
.agrc-app .map-div .layer-selector-items {
    max-width: 140px;
}
.agrc-app .map-div .layer-selector {
    max-width: 200px;
}
.agrc-app .map-div .layer-selector .glyphicon {
    margin-left: 2px;
}
.agrc-app .center-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 195px;
}
.agrc-app .center-div,
.agrc-app .bottom-div {
    border: solid 1px #b5bcc7;
    background-color: white;
    overflow-y: auto;
}
.agrc-app .bottom-div {
    height: 190px;
    position: absolute;
    bottom: 0;
    padding: 8px;
    width: 100%;
}
.agrc-app [data-dojo-attach-point='clearBtn'] {
    position: absolute;
    right:9px;
    bottom: 9px;
    z-index: 999;
    width: 120px;
}
.agrc-app .bottom-div>div {
    margin-bottom: 4px;
}
.agrc-app .form-control {
    height: 24px;
}
.agrc-app .btn,
.agrc-app .input-group-addon {
    height: 24px;
    padding: 2px 6px 3px;
}
.agrc-app .map-button-container {
    position: absolute;
    z-index: 50;
    top: 87px;
    left: 20px;
    display: block;
}
.agrc-app .map-button {
    padding: 2px;
    width: 28px;
    height: 28px;
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.8);
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 5px;
    background-image: ?? 20x20;
    background-position: center, center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: content-box;
    margin-bottom: 3px;
}
.agrc-app .map-button:hover {
    background-color: #333;
    background-color: rgba(102, 102, 102, 0.9);
}
.agrc-app .map-button:hover {
    background-color: #ccc;
    background-color: rgba(102, 102, 102, 0.6);
}
.agrc-app .map-button .glyphicon {
    color: #f2f2f2;
    font-size: 20px;
    left: -10px;
    top: -10px;
    margin: 50%;
}
